@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  background-color: yellow 20;
    max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container1{
  background-color: yellow 20;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

/* .container2{
  grid: column 2px;;
  background-color: #FAF4F4;
  max-width: 100%;
  max-height: 6733px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
